<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>color changer</title>
</head>
<style>
    * {
    margin: 0;
}

body {
    text-align: center;
}

.main,
.div1 {
    text-decoration: double;
    background-color: wheat;
}

header {
    height: 135px;
    background-color: blue;
}
.div1{
    height: 21px;
    background-color: wheat;
}
.div2{
    height: 259px;
}
</style>

<body>
    <header>
        <h1>Click buttons on under the docoment:</h1>
    </header>
    <div class="main">
        <button onclick="document.body.style.backgroundColor = 'red' ">red</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'rgb(255, 103, 47)' ">orange</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'yellow' ">yellow</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'green' ">green</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'darkgreen' ">darkgreen</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'blue' ">blue</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'rgb(0,0,128)' ">navy blue</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'darkblue' ">darkblue</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'purple' ">purple</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'pink' ">pink</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'magenta' ">magenta</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'rgb(255,215,0)' ">golden</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'rgb(192,192,192)' ">silver</button>
        <br>
    </div>
    <div class="div1">
        <button>costom</button>
    </div>
    <div class="div2">
    </div>
</body>
<script>
    const m = document.querySelector(".main")
    const a = document.querySelector('.div1')

    a.addEventListener(
        "click",
        function () {

            const note = document.createElement('div');
            let a = prompt("enter a background colour, you can also write colour  in RGB, HEX and HSL")
            note.innerHTML = `
        <button onclick="document.body.style.backgroundColor = '${a}'">${a}</button>`;
            m.append(note)
        })
</script>

</html>