<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="/public/style.css">

<body>
    <header><h1>Click buttons on under the docoment:</h1></header>
    <div class="main">
        <button onclick="document.body.style.backgroundColor = 'red' ">red</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'orange' ">orange</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'yellow' ">yellow</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'green' ">green</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'darkgreen' ">darkgreen</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'blue' ">blue</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'darkblue' ">darkblue</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'purple' ">purple</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'pink' ">pink</button>
        <br>
        <button onclick="document.body.style.backgroundColor = 'magenta' ">magenta</button>
    </div>
    <div class="div1">
        <button>costom</button>
    </div>
</body>
<script src="/public/script.js"></script>

</html>